.types {
  display: flex;  
  justify-content: left;
}

.types li {
  margin-left: 20px;
}

.type {
  padding: 2px;
  height: 30px;
  cursor: pointer;
}

.type:hover {
  background: #fc94ee;
}

.type p {  
  font-weight: normal;
}

.type-normal{
  background: #dd9696;
}

.type-fighting{
  background: #eb4747;
}

.type-flying{
  background: #99caf1;
}

.type-poison{
  background: #b65bda;
}

.type-ground{
  background: #60947c;
}

.type-rock{
  background: #808080;
}

.type-bug{
  background: #add440;
}

.type-ghost{
  background: #72e6e0;
}

.type-steel{
  background: #ad9daa;
}

.type-fire{
  background: #e45656;
}

.type-water{
  background: #5e9beb;
}

.type-grass{
  background: #76e05c;
}

.type-electric{
  background: #eeff02;
}

.type-psychic{
  background: #b45fa9;
}

.type-ice{
  background: #818bc7;
}

.type-dragon{
  background: #cc6f6f;
}

.type-dark{
  background: #053d7e;
  color: #fff;
}

.type-fairy{
  background: #923e3e;
  color: #fff;
}

.type-unknown{
  background: #000000;
  color: #fff;
}

.type-shadow{
  background: #183d74;
  color: #fff;
}